//styles are more or less in the same order as they appear in the markup

//box-sizing
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
//

body {
  font-size: 16px;
  @include xl-desktop {
    font-size: 24px;
  };
  //stops animation library from causing horizontal scrolling
  overflow-x: hidden;
  //for fade-in/fade-out on load
  opacity: 1;
  transition: 1s opacity;
}

//for fade-in/fade-out on load
body.fade-out {
    opacity: 0;
    transition: none;
}


//basic section styles
section {
  padding: 30px;
  min-width: 200px;
  @include desktop {
    padding: 50px 30px;
  };
}

//some sections have light backgrounds
.light-bg {
  background-color: $light-bg;
}

.horizontal-line {
  border-top: 2px solid $light-grey;
  margin: 20px auto;
}

.horizontal-line-dark {
  border-top: 1px solid $light-grey;
  margin: 20px auto;
}
