//styles are more or less in the same order as they appear in the markup

//box-sizing
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
//

body {
  font-size: 16px;
  //stops animation library from causing horizontal scrolling
  overflow-x: hidden;
  //for fade-in/fade-out on load
  opacity: 1;
  transition: 1s opacity;
}

//for fade-in/fade-out on load
body.fade-out {
    opacity: 0;
    transition: none;
}

header {
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;

  }
  p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
}

//basic section styles
section {
  padding: 30px;
  min-width: 200px;
  h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: "roboto condensed", sans-serif;
    font-style: italic;
    color: $grey;
  }
  p {
    line-height: 1.5em;
    font-weight: 700;
  }
}

//some sections have light backgrounds
.light-bg {
  background-color: $light-bg;
}

.horizontal-line {
  border-top: 2px solid $light-grey;
  margin: 20px auto;
}

.horizontal-line-dark {
  border-top: 1px solid $light-grey;
  margin: 20px auto;
}
