.display-on-mobile {
  @include tablet {
    display: none;
  }
}

.display-on-tablet {
  display: none;
  @include tablet {
    display: block;
  };
}

.display-on-desktop {
  display: none;
  @include desktop {
    display: block;
  };
}

//this is so the text of any section it's applied to doesnt span the whole screen
.restrain-width {
  @include lg-phone {
    max-width: $tablet-width;
    margin: auto;
  };
  @include desktop {
    max-width: $desktop-width;
  };
  @include lg-desktop {
    max-width: $lg-desktop-width;
  };
  @include xl-desktop {
    max-width: $xl-desktop-width;
  };
}
