.about-content {
  @include lg-phone {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  img {
    display: block;
    margin: 30px auto;
    @include desktop {
      margin: 30px;
    };
  }
  .about-text {
    padding: 20px;
    @include desktop {
      max-width: 50%;
    }
  }
}
