.lead {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin: auto;
  // border: 2px solid red;
  font-size: 1.25em;
  line-height: 1.1111111em;
  @include tablet {
    line-height: 1.222222em;
  };
}
