.resp-iframe-wrapper {
  position: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
  // overflow: hidden;
  // padding-top: 50%;
  // margin: auto;
  .resp-iframe {

    // border: 5px solid red;
    // transform: scale(0.5)
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // border: 3px solid lightgreen;
  }
}
