.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:stretch;
  .skill-wrapper {
    flex-basis: 100%;
    text-align: center;

    @include tablet {
      flex-basis: 200px;
      text-align: left;
    };
    font-weight: 700;
    span {
      font-family: 'Roboto Condensed';
      text-transform: uppercase;
      font-weight: 700;
      font-style: italic;
    }
  }
}
