//take off section padding so carousel extends full-width of page, but put it back on the horizontal line for consistency with other sections
#work {
  padding: 0;

}

.work-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  @include tablet {

  };
}

.work-thumbnail {
  background: center center;
  background-size: cover;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  @include lg-phone {
    // margin: 0;
    // width: 48vw;
    // height: 48vw;
  }
  @include desktop {
    // margin: 0;
    // height: 25vw;
    // width: 24.5vw;
  }
  .work-thumb-overlay {
    transition: linear .25s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
    z-index: 100;
  }
  &:hover > .work-thumb-overlay {
    opacity: 0.8;
    display: block;
    cursor: pointer;
  }
}

.work-thumb-info {
  display: none;
}
.work-thumbnail:hover > .work-thumb-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 200;
  padding: 10px;
  & h5, p {
    margin: .2em;
  }
}


//bg images for each individual carousel slide
#portfolio {
  background-image: url('../images/portfolio/portfolio-code.png');
  background-position: 25%;
}
#npo {
  background-image: url('../images/npo-donator.png');
}
#style360 {
  background-image: url('../images/style360.png');
}
#proper-knocks
 {
  background-image: url('../images/ebird.jpg');
}
