.case-study {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  };

  .case-study-text {
    padding: 30px;
    margin: 0 auto;
    h2 {
      text-align: center;
    }
    @include desktop {
      width: 38%;
    };
  }
  .case-study-content-wrapper {
    overflow: hidden;
    width: 100%;
    @include desktop {
      width: 60%;
    };
    .case-study-content {
      width: 100%;
      margin-left: 18px;

      @include desktop {
        height: 60vh;
        overflow-y: scroll;
      };
      .style360-screenshot {
        width: 100%;
        margin: 0;
      }
    }
  }
}
