//whole nav, including dropdown links and links visible in uncollapsed navbar
.my-nav {
  //flex
  display: flex;
  flex-direction: column;

  //positioning
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;

  //gives shadow to whole nav, including dropdown
  box-shadow: 5px 0px 2px grey;
  z-index: 1;

  //user agent stylesheet default margin breaks design
  ul {
    margin: 0;
  }

  //this houses the small logo, hamburger and in-line links visible on tablet and above
  .nav-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    height: 60px;
    background-color: white;
    transition: .4s linear;
    .hamburger {
      cursor: pointer;
      @include tablet {
        display: none;
      };
    }
  }
  .dropdown-links {
    display: none;
    background-color: white;
    padding: 20px;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 0px 2px grey;
    transition: 1s linear;
    li a {
      color: black;
      line-height: 1.75em;
      font-weight: 400;
      font-style: italic;
      border-bottom: 1px solid $light-grey;
    }
  }
  .navbar-links {
    display: none;
    @include tablet {
      display: flex;
      li a {
        color: black;
        font-weight: 700;
        margin-left: 15px;
        text-transform: uppercase;
      }
    };
  }
}

// .sticky {
//   position: fixed;
//   z-index: 1000;
//   top: 0;
//   right: 0;
//   left: 0;
// }
