//hides the case study div off screen to the right of the carousel
.swapper-wrapper {
  overflow-x: hidden;
  position: relative;
  padding: 0;
}
//
.swapper{
  display: flex;
  position: relative;
  transition: .5s ease-in;
  right: 0;
  //make sure one or the takes up the whole screen
  .carousel, .case-studies {
    min-width: 99vw;
  }
}

//carousel-item
//--overlay
//--slide-wrapper
//----left-chevron
//----button
//----right-chevron

.carousel-item {
  cursor: pointer;
  //overlay clear until hover
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    transition: .2s linear;
  }
  //wraps carousel previous/next chevrons and 'view' button
  .slide-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    .fa-chevron-left, .fa-chevron-right {
      display: none;
      @include desktop {
        display: block;
        opacity: 0.5;
        transition: .2s;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      };
    }
    //'view' button invisible until hovered
    .view-proj-btn {
      display: none;
    }
  }

  //when you hover on a carousel slide...
  @include desktop {
    &:hover {
      //make the overlay not-clear
      .overlay {
        background-color: rgba(0,0,0,.5);
      }
      //make the button display
      .view-proj-btn {
        display: flex;
      }
    }
  };
}

.case-studies-visible {
  right: 100vw;
}

.case-studies {
  min-height: 60vh;
  width: 100vw;
  padding: 20px;
  .back-chevron, .back {
    cursor: pointer;
  }
}


//bg properties that apply to all carousel images
.carousel-item {
  background: center center no-repeat;
  background-size: cover;
}

//bg images for each individual carousel slide
#style360 {
  background-image: url('../images/style360.png');
}

#pokemon {
  background-image: url('../images/pokemon.png');
}

#ebird
 {
  background-image: url('../images/ebird.png');
}

#sandwich {
  background-image: url('../images/sandwich.png');
}

#npo {
  background-image: url('../images/npodonator.PNG');
}
